@font-face {
    font-family: "Montserrat black";
    src: url(../fonts/Montserrat-Black.woff2);
    font-weight: 600;
}
 
 @font-face {
    font-family: "Montserrat bold";
    src: url(../fonts/Montserrat-Bold.woff2);
    font-weight: 400;
}
 
 @font-face {
    font-family: "Montserrat regular";
    src: url(../fonts/Montserrat-Regular.woff2);
    font-weight: 600;
}
 
 :root {
    --color-black: #000000;
    --color-orange: #FD7900;
    --color-white: #fff;
    --color-gray: #F0F2F6;
    --color-dark-primary: #3C3C3C;
    --color-light-orange: #FD8C00;
}

header{
    background-color: #000000;
    color: var(--color-white);
}

header ul li{
    list-style-type: none;
    font-family: Montserrat regular;
    font-size: 14px;
    padding: 48px;
    display: inline;
}
